/*
CORE
*/
div {
    position: relative;
}
p {
    margin: 15px 0 !important;
}

/*
CUSTOM CLASSES
*/
div.section, section {
    max-width: 1260px;
    width: 100%;
    overflow: hidden;
    
    margin: auto;
}

/*NODE*/
#breadcrumb .breadcrumb, 
#main-wrapper h1.title#page-title,
#main-wrapper .tabs {
    max-width: 1260px;
    margin: auto;    
}
#main .node .content {
    padding-bottom: 20px;
}

/*
BLOG SLIDER
*/
#block-views-blog-front .section {
    z-index: 2;
}

/*FOOTER*/
#footer {
    background-color: #454850;
}
