/* CORE */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
    color: #666;
    
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 15px;
}
body {
    background: #F1F2F5;
}
a {
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: #5ebfbd;
}
a.active {
    color: #5ebfbd !important;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}

/*
CUSTOM CLASSES
*/
.hr {
    margin: 0 auto;
    
    width: 1110px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}
.block .section {
    margin: auto;
    padding: 40px 0;
}

/*
HEADER
*/
#header .header-wrapper {
    padding: 20px 76px;
}
#header .header-wrapper > * {
    display: inline-block;
}
#header .header-wrapper .region.region-header {
    float: right;
}

/*MENU*/
#block-system-main-menu a {
    font-size: 1em;
}
.block#block-system-main-menu .section {
    padding: 0;
    
    overflow: visible;
}
#block-system-main-menu ul {
    margin: 0;
    padding: 0;
}
#block-system-main-menu ul li {
    display: inline-block;
    
    list-style-image: none;
}

/* 
BUTTON
*/
a.btn {
    color: #5ebfbd !important;
    
    padding: 12px 20px;
    
    border: 1px solid #5ebfbd;
}
a.btn:hover {
    color: #fff !important;
    background-color: #5ebfbd;
    
    border-color: #ddf;
}

/*BLOCKS*/
#block-block-2 .section {
    padding: 0;
}
.block h2 {
    text-transform: uppercase;

    margin: auto auto 35px !important;
}

/* 
HIGHLIGTHED 
*/
#highlighted {
    background-color: #52565E;
}
#highlighted .section {
    padding: 0 !important;
}
/* BANNER */
.banner-highligthed .banner-text {
    color: #fff;
    
    text-align: center;
    
    margin-top: -125px;
    
    position: absolute;
    top: 50%;
}
.banner-highligthed .banner-text * {
    color: #fff !important;
}
.banner-highligthed .banner-text .banner-title {
    font-size: 3.4em;
    text-transform: uppercase;
}
.banner-highligthed .banner-text .banner-caption {
    font-size: 1.1em;
    width: 60%;
    margin: auto;
}
.banner-highligthed .views_slideshow_cycle_main .views_slideshow_slide {
    width: 100% !important;
}

/*
GET INVOLVED 
*/
#block-views-get-involved-block-1 {
    background-color: #fff;
}
#block-views-get-involved-block-1 * {
    text-align: center;

    margin: auto;
}
#block-views-get-involved-block-1 .section {
    margin: auto;
    padding: 40px 0;
}
#block-views-get-involved-block-1 h2 {
    margin-bottom: 40px;
}
#block-views-get-involved-block-1 h3 {
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 20px;
}
#block-views-get-involved-block-1 .views-field-body {
    font-size: 0.9em;

    width: 85%;
}
#block-views-get-involved-block-1 .view-content .views-row {
    display: inline-block;

    width: 33%;
}
#block-views-get-involved-block-1 .views-field.views-field-field-button-label a {
    display: inline-block;

    margin-top: 30px;

    min-width: 200px;
}

/*
COMMON BLOCKS CONFIG
*/
#block-views-our-mission-front, #block-views-our-member-slider-front, #block-views-blog-front  {
    text-align: center !important;
    background-color: #F1F2F5;
}

/* 
OUR MISSION 
*/
#block-views-our-mission-front * {
    margin: auto;
}
#block-views-our-mission-front .view-header {
    margin-bottom: 80px;
}
#block-views-our-mission-front .views-field.views-field-field-icon {
    position: absolute;
    margin: auto;
    
    width: 100%;
}
#block-views-our-mission-front .views-field.views-field-field-icon {
    top: -50px;
}
#block-views-our-mission-front .view-content .views-row {
    background: #fff;
    
    display: inline-block;
    padding: 40px 10px 20px;
    margin: 10px;
    
    width: 27%;
}
#block-views-our-member-slider-front .view-content .views-row {
    display: inline-block;
    padding: 0 20px;
    margin: 0 25px;    
    
    width: 150px;
}
#views_slideshow_cycle_teaser_section_our_member_slider-front,
#views_slideshow_cycle_teaser_section_our_member_slider-front .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}

/* 
BLOG FRONT SLIDER 
*/
#block-views-blog-front {
    margin-top: 40px;
    padding-bottom: 0;
}
#block-views-blog-front a {
    text-transform: capitalize;
    color: #5ebfbd;
}
#block-views-blog-front h2 {
    text-align: center;
}
#block-views-blog-front .section {
    background: #fff;
    text-align: left !important;

    padding: 20px 0;
}
#block-views-banner-slider-block #slick-views-banner-slider-2-slider {
    margin-bottom: 0;
}
#slick-views-blog-1-slider .slide--grid ul {
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    border: none !important;
}
#slick-views-blog-1-slider .slide--grid ul li {
    text-align: left;
    
    display: inline-flex;
    margin: 0;
    padding: 0 15px;
    
    list-style: none;
    
    width: 24%;
}

/*
FOOTER
*/
#footer * {
    color: #8D95AD;
}
#footer div.hr {
    border-color: #6f7073;
}
#footer #copyright {
    font-size: 0.92em;
    text-align: center;
    
    padding: 20px;
}
#footer #copyright a {
    color: #5ebfbd;
}

/*
FOOTER SOCIAL ICONS
*/
#footer #social-icons .section {
    padding: 0 !important;
}
#footer #social-icons .icon {
    text-align: center;
    
    padding: 24px 0;
}
#footer #social-icons .icon div {
    display: inline-block;
    
    margin: 4px;
}

/*
NODE
*/
#content h1#page-title {
    margin-top: 20px !important;
}
#page .submitted {
    font-weight: 600;
}

/*EVENT BLOCK*/
#event-block .section {
    padding: 30px 0;
}
#event-block .box {
    display: inline-table;

}
#event-block .box.pull-right {
    position: absolute;
    padding-top: 12px;
    
    top: 0;
    right: 0;
}
#event-block .label {
    color: #5ebfbd;
    font-weight: bold;
    
    margin-right: 10px;
    float: left;
}
#event-block .date {
    font-weight: bold;
}
#event-block .address {
    font-size: 14px;

    margin-top: 10px;
}
#event-block .btn-register {
    color: #fff !important;
    background: #5ebfbd;
}
#event-block .btn-register:hover {
    color: #5ebfbd !important;
    background: #fff;

    border: 1px solid #5ebfbd;
}
